/* ========== HEADER STYLES ========== */
.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: white;
    border-bottom: 1px solid var(--border-color);
}

.left-section {
    display: flex;
    align-items: center;
}

.icon {
    height: 24px;
}

.icon:hover,
.logo:hover,
.current-user:hover,
button:hover {
    cursor: pointer;
}

.hamburger-icon {
    margin-left: 24px;
    margin-right: 24px;
}

.logo {
    height: 20px;
}

.middle-section {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 500px;
    margin-left: 70px;
    margin-right: 35px;
}

.search-bar {
    flex: 1;
    height: 40px;
    padding-left: 10px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    box-shadow: inset 1px 2px 7px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder {
    font-size: 1rem;
}

.search-bar:focus {
    outline: 1px solid var(--border-color);
}

.search-button {
    height: 40px;
    width: 66px;
    border: 1px solid var(--border-color);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-left: -1px;
    margin-right: 10px;
}

.search-button > img {
    margin: 5px auto;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    background-color: var(--button-color);
}

.voice-search-button > img {
    margin: 8px auto;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 180px;
    margin-right: 20px;
}

.notifications-icon-container {
    position: relative;
}

.notifications-counter {
    position: absolute;
    top: -2px;
    right: -5px;

    background-color: rgb(204, 0, 0);
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 50%;
}

.current-user {
    height: 32px;
    border-radius: 50%;
}