/* ========== MEDIA QUERIES FOR RESPONSIVENESS ========== */
/* Typical Device Breakpoints
Small screens: 600px and down
Phone: 600px - 768px
Tablet: 768px - 992px
Desktop: 992px - 1200px
Large screens: 1200px and up
*/


/* HIDES THE VOICE SEARCH BUTTON ON VERY SMALL SCREENS */
@media screen and (max-width: 335px) {

    .voice-search-button {
        display: none;
    }
}

/* HIDES ALL ICONS FROM THE RIGHT SECTION ON SMALLER SCREENS */
@media screen and (max-width: 540px) {

    .right-section .icon,
    .notifications-counter {
        display: none;
    }

    .right-section {
        justify-content: center;
        width: 0;
    }
}

/* SHOWS 1 VIDEO PREVIEW PER ROW */
@media screen and (max-width: 600px) {
    
    .video-grid {
        grid-template-columns: 1fr;
    }   
}

/* SHOWS 2 VIDEO PREVIEWS PER ROW */
@media screen and (min-width: 600px) and (max-width: 768px) {
    
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

/* HIDES SEARCH BAR ON SMALLER SCREENS */
@media screen and (max-width: 656px) {

    .left-section {
        width: 100px;
    }

    .middle-section {
        flex-grow: 0;
    } 

    .search-bar {
        display: none;
    }

    .search-button {
        background-color: var(--button-color);
        height: 40px;
        width: 40px;
        border: none;
        border-radius: 4px;
    }

    .right-section {
        width: 140;
    }
}

/* SHOWS 3 VIDEO PREVIEWS PER ROW */
@media screen and (min-width: 768px) and (max-width: 992px) {
    
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* SHOWS 4 VIDEO PREVIEWS PER ROW */
@media screen and (min-width: 992px) {
    
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}